<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{front/layouts/mypage}">
    <section layout:fragment="content">
        <div class="bag">
            <div class="first poke">

            </div>
            <div class="second poke">

            </div>
            <div class="third poke">

            </div>
            <div class="fourth poke">

            </div>
            <div class="fifth poke">

            </div>
            <div class="sixth poke">

            </div>
        </div>
    </section>
</html>