.mypokemon-wish > .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 700px;
    margin: 0 auto;
}

.mypokemon-wish > .items > .item {
    width: calc(700px / 2 - 10px);
    height: calc(700px / 2 - 10px);
    border: 1px solid #000;
    border-radius: 50%;
    padding: 25px 0;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.mypokemon-wish .item img {
    height: calc(100% - 110px);
    display: block;
    margin: 0 auto;
}

.mypokemon-wish > .items > .item:nth-of-type(2n) {
    margin-left: 20px;
}

.mypokemon-wish .item-wrap {
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
}